li {
  width: 25%;
}

.mugshot {
  width: 100%;
  height: auto;
  padding: 15% 5% 10% 5%;
}

.row li {
  display: inline-block;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}
