.nav-link {
	color: white;
	font-family: 'Exo 2', sans-serif;
	font-size: 28px;
}

.link-container {
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
}

#logo {
	width: 100px;
	margin: auto;
	padding-top: 10px;
}

#gitHub {
	width: 50px;
	margin: auto;
	padding-top: 300px;
}
